<div class="row g-3">
    <div class="col-12">{% include "competitions/field.html" with field=form.discipline_name %}</div>
    <div class="col-12 col-md-6 col-lg-3">{% include "competitions/field.html" with field=form.knowledge_area %}</div>
    <div class="col-12 col-md-6 col-lg-3">{% include "competitions/field.html" with field=form.priority %}</div>
    <div class="col-12 col-md-6 col-lg-3">{% include "competitions/field.html" with field=form.expected_questions %}</div>
    <div class="col-12 col-md-6 col-lg-3">{% include "competitions/field.html" with field=form.question_count_kind %}</div>
    <div class="col-12 col-md-6 col-lg-4">{% include "competitions/field.html" with field=form.weight %}</div>
    <div class="col-12 col-md-6 col-lg-4">{% include "competitions/field.html" with field=form.max_score %}</div>
    <div class="col-12 col-md-6 col-lg-4">{% include "competitions/field.html" with field=form.minimum_score %}</div>
</div>
